/* ---------------------------------------------------- */
/* ----- HEADER ----- */
/* ---------------------------------------------------- */

//.wrapper {
//  width: 100%;
//
//  @media #{$tablet__768} {
//    & .header {
//      position: sticky;
//      top: 0;
//      z-index: 99999;
//    }
//  }
//}

.header {
  position: relative;
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 0;
  padding-bottom: calc(2560 / 1920 * 100%);

  @media #{$mobile_land__640} {
    padding-bottom: calc(2000 / 1920 * 100%);
  }

  @media #{$tablet__768} {
    padding-bottom: calc(1700 / 1920 * 100%);
  }

  @media #{$tablet_land__1024} {
    padding-bottom: calc(1500 / 1920 * 100%);
  }

  @media #{$desktop__1280} {
    padding-bottom: calc(1300 / 1920 * 100%);
  }

  @media #{$large__screens__1440} {
    padding-bottom: calc(1200 / 1920 * 100%);
  }

  @media #{$full__screens__1600} {
    padding-bottom: calc(1186 / 1920 * 100%);
  }

  @media #{$max__screen__2560} {
    padding-bottom: calc(1281 / 1920 * 100%);
  }
}

.navigation {
  position: relative;
  background-color: $white;

  @media #{$tablet_land__1024} {
    background-color: transparent;
  }

  @media #{$desktop__1280} {
  }

  @media #{$large__screens__1440} {
  }

  @media #{$full__screens__1600} {
  }

  @media #{$HD__screens__1920} {
  }

  &-container {
    display: flex;
    align-items: center;
    padding: rem(0 20px);

    @media #{$mobile_land__640} {
      padding: rem(0 40px);
    }

    @media #{$tablet__768} {
      padding: rem(0 60px);
    }

    @media #{$tablet_land__1024} {
      padding: rem(0 20px 0 40px);
    }

    @media #{$desktop__1280} {
      padding: rem(0 30px 0 50px);
      justify-content: space-between;
    }

    @media #{$HD__screens__1920} {
      padding: rem(0 75px);
    }

    @media (min-width: 1921px) {
    }
  }
}

.logo {
  width: 50%;
  padding: rem(20px 0);
  z-index: 1;

  @media #{$mobile_land__640} {
    width: 30%;
  }

  @media #{$tablet_land__1024} {
    width: 25%;
    margin-top: -6px;
  }

  @media #{$large__screens__1440} {
    padding: 35px 0;
  }

  @media #{$full__screens__1600} {
    width: 22%;
    padding: rem(45px 0);
    margin-top: -8px;
  }

  @media #{$HD__screens__1920} {
    width: 20%;
    padding: rem(62px 0);
  }
}

.btn-toggle {
  position: absolute;
  top: 18px;
  right: rem(20px);
  z-index: 4;

  &:hover .hamburger__line {
    background-color: $viking;
  }

  @media #{$mobile_land__640} {
    right: rem(40px);
  }

  @media #{$tablet__768} {
    right: rem(60px);
  }

  @media #{$tablet_land__1024} {
    display: none;
  }
}

.hamburger {
  width: 22px;
  height: 14px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  &__line {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $viking;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      @extend %hamburger__line--nth;
    }

    &:nth-child(3) {
      @extend %hamburger__line--nth;
    }

    &:nth-child(4) {
      top: 12px;
    }
  }
}

.btn-toggle--toggled {
  .hamburger__line:nth-child(1) {
    top: 6px;
    width: 0;
    left: 50%;
  }

  .hamburger__line:nth-child(2) {
    transform: rotate(45deg);
    background-color: $viking;
  }

  .hamburger__line:nth-child(3) {
    transform: rotate(-45deg);
    background-color: $viking;
  }

  .hamburger__line:nth-child(4) {
    top: 6px;
    width: 0;
    left: 50%;
  }
}

.nav-menu {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s max-height;
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: $white;

  @media #{$tablet_land__1024} {
    overflow: visible;
    top: auto;
    position: relative;
    box-shadow: none;
    max-height: 100%;
    transition: none;
    transition-duration: 0s;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    background: transparent;
  }

  .menu--show & {
    max-height: 900px;
    overflow-y: auto;
  }
}

.menu {
  display: flex;
  flex-direction: column;

  @media #{$tablet_land__1024} {
    margin-top: 0;
    flex-direction: row;
    align-items: center;
  }

  &__link {
    display: block;
    padding: rem(20px);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: rem(18px);
    color: $mine-shaft;
    position: relative;

    @media #{$tablet_land__1024} {
      font-size: rem(16px);
    }

    @media #{$desktop__1280} {
      font-size: rem(18px);
    }

    @media #{$large__screens__1440} {
      font-size: rem(20px);
    }

    @media #{$HD__screens__1920} {
      padding: rem(0 67px 0 0);

      &--5 {
        padding: 0;
      }
    }


    &.active {
      color: $viking;
    }
  }
}

.face-hield {

  &__pro {
    position: absolute;
    width: 35%;
    top: 63px;
    left: 25px;

    @media #{$mobile_land__640} {
      top: 105px;
      left: 40px;
    }

    @media #{$tablet__768} {
      width: 30%;
      top: 90px;
      left: 60px;
    }

    @media #{$tablet_land__1024} {
      width: 23%;
      top: 115px;
      left: 90px;
    }

    @media #{$desktop__1280} {
      width: 18%;
      top: 230px;
      left: 108px;
    }

    @media #{$large__screens__1440} {
      width: 15%;
      top: 225px;
      left: 170px;
    }

    @media #{$full__screens__1600} {
      width: 13%;
      top: 243px;
      left: 222px;
    }

    @media #{$HD__screens__1920} {
      width: 10%;
      top: 342px;
      left: 312px;
    }
  }

  &__light {
    position: absolute;
    width: 35%;
    //top: 550px;
    top: 111px;
    right: 10px;

    @media #{$mobile_land__640} {
      top: 170px;
      right: 40px;
    }

    @media #{$tablet__768} {
      width: 30%;
      right: 60px;
    }

    @media #{$tablet_land__1024} {
      width: 23%;
      top: 297px;
      right: 40px;
    }

    @media #{$desktop__1280} {
      width: 18%;
      top: 477px;
      right: 50px;
    }

    @media #{$large__screens__1440} {
      width: 15%;
      top: 510px;
      right: 105px;
    }

    @media #{$full__screens__1600} {
      width: 13%;
      top: 554px;
      right: 155px;
    }

    @media #{$HD__screens__1920} {
      width: 10%;
      top: 720px;
      right: 240px;
    }
  }

  &__border {
    border-top: 1px solid $pacific-blue;

    &--1 {
      padding: 10px 10px 10px 0;
      border-right: 1px solid $pacific-blue;

      @media #{$mobile_land__640} {
        padding: 15px 15px 15px 0;
      }

      @media #{$tablet__768} {
        padding: 18px 18px 18px 0;
      }

      @media #{$desktop__1280} {
        padding: 20px 20px 20px 0;
      }

      @media #{$large__screens__1440} {
        padding: 24px 24px 24px 0;
      }

      @media #{$HD__screens__1920} {
        padding: 28px 28px 28px 0;
      }
    }

    &--2 {
      padding: 10px 0 10px 10px;
      border-left: 1px solid $pacific-blue;

      @media #{$mobile_land__640} {
        padding: 15px 0 15px 15px;
      }

      @media #{$tablet__768} {
        padding: 18px 0 18px 18px;
      }

      @media #{$desktop__1280} {
        padding: 20px 0 20px 20px;
      }

      @media #{$large__screens__1440} {
        padding: 24px 0 24px 24px;
      }

      @media #{$HD__screens__1920} {
        padding: 28px 0 28px 28px;
      }
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    color: $tundora;
    font-family: $font-second;
    font-size: 14px;
    padding: 0 20px;

    @media #{$mobile_land__640} {
      font-size: 18px;
      padding: 0 40px;
    }

    @media #{$tablet__768} {
      font-size: 20px;
      padding: 0 60px;
    }

    @media #{$tablet_land__1024} {
      font-size: 21px;
      padding: 0;
    }

    @media #{$desktop__1280} {
      font-size: 22px;
    }

    @media #{$large__screens__1440} {
      font-size: 23px;
    }

    @media #{$full__screens__1600} {
      font-size: 24px;
    }

    @media #{$HD__screens__1920} {
      position: absolute;
      bottom: 0;
      font-size: 25px;
    }

    &-text {
      white-space: pre-line;

      &--uppercase {
        text-transform: uppercase;
        display: inline-block;
        padding-bottom: 10px;

        @media #{$tablet__768} {
          padding-bottom: 13px;
        }

        @media #{$tablet_land__1024} {
          padding-bottom: 15px;
        }

        @media #{$desktop__1280} {
          padding-bottom: 18px;
        }

        @media #{$large__screens__1440} {
          padding-bottom: 22px;
        }

        @media #{$full__screens__1600} {
          padding-bottom: 32px;
        }

        @media #{$HD__screens__1920} {
          padding-bottom: 42px;
        }
      }

      &--color {
        display: inline-block;
        padding: 15px 0 20px;
        color: $pacific-blue;

        @media #{$mobile_land__640} {
          padding: 20px 0 30px;
        }

        @media #{$tablet_land__1024} {
          padding: 25px 0 35px
        }

        @media #{$desktop__1280} {
          padding: 27px 0 40px
        }

        @media #{$large__screens__1440} {
          padding: 29px 0 45px
        }

        @media #{$full__screens__1600} {
          padding: 34px 0 51px
        }

        @media #{$HD__screens__1920} {
          padding: 36px 0 56px;
        }
      }
    }
  }
}

/* ----- END OF HEADER ----- */

@media #{$mobile_land__640} {
}
@media #{$tablet__768} {
}
@media #{$tablet_land__1024} {
}
@media #{$desktop__1280} {
}
@media #{$large__screens__1440} {
}
@media #{$full__screens__1600} {
}
@media #{$HD__screens__1920} {
}