/* ---------------------------------------------------- */
/* ----- HEADER ----- */
/* ---------------------------------------------------- */

.header {
  position: relative;
  background-image: url("../images/header-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50px;
  width: 100%;
  height: 0;
  padding-bottom: calc(2920 / 1920 * 100%);


  @media #{$mobile_land__640} {
    padding-bottom: calc(1700 / 1920 * 100%);
  }

  @media #{$tablet__768} {
    padding-bottom: calc(1600 / 1920 * 100%);
  }

  @media #{$tablet_land__1024} {
    padding-bottom: calc(1350 / 1920 * 100%);
    background-position: 0 0;
  }

  @media #{$desktop__1280} {
    background-image: url("../images/header-bg.jpg");
    padding-bottom: calc(1250 / 1920 * 100%);
  }

  @media #{$large__screens__1440} {
    padding-bottom: calc(1220 / 1920 * 100%);
  }

  @media #{$full__screens__1600} {
    padding-bottom: calc(1200 / 1920 * 100%);
  }

  @media #{$HD__screens__1920} {
    padding-bottom: calc(1186 / 1920 * 100%);
  }

  @media #{$max__screen__2560} {
    padding-bottom: calc(1280 / 1920 * 100%);
  }
}

.navigation {
  position: relative;
  background-color: $white;

  @media #{$tablet_land__1024} {
    background-color: transparent;
    transition: background-color 0.4s ease-out;

    &.scrolling-active {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: $white;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      z-index: 9999;
    }
  }

  @media #{$desktop__1280} {
  }

  @media #{$large__screens__1440} {
  }

  @media #{$full__screens__1600} {
  }

  @media #{$HD__screens__1920} {
  }

  &-container {
    display: flex;
    align-items: center;
    padding: rem(0 20px);

    @media #{$mobile_land__640} {
      padding: rem(0 40px);
    }

    @media #{$tablet__768} {
      padding: rem(0 60px);
    }

    @media #{$tablet_land__1024} {
      padding: rem(0 20px 0 40px);
    }

    @media #{$desktop__1280} {
      padding: rem(0 30px 0 50px);
      justify-content: space-between;
    }

    @media #{$HD__screens__1920} {
      padding: rem(0 75px);
    }

    @media (min-width: 1921px) {
    }
  }
}

.logo {
  width: 50%;
  padding: rem(20px 0);
  z-index: 1;

  @media #{$mobile_land__640} {
    width: 30%;
  }

  @media #{$tablet_land__1024} {
    width: 25%;
    margin-top: rem(-6px);
  }

  @media #{$large__screens__1440} {
    padding: rem(35px 0);
  }

  @media #{$full__screens__1600} {
    width: 22%;
    padding: rem(45px 0);
    margin-top: rem(-8px);
  }

  @media #{$HD__screens__1920} {
    width: 20%;
    padding: rem(62px 0);
  }
}

.btn-toggle {
  position: absolute;
  top: 18px;
  right: 20px;
  z-index: 4;

  &:hover .hamburger__line {
    background-color: $viking;
  }

  @media #{$mobile_land__640} {
    right: 40px;
  }

  @media #{$tablet__768} {
    right: 60px;
  }

  @media #{$tablet_land__1024} {
    display: none;
  }
}

.hamburger {
  width: 22px;
  height: 14px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  &__line {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $viking;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      @extend %hamburger__line--nth;
    }

    &:nth-child(3) {
      @extend %hamburger__line--nth;
    }

    &:nth-child(4) {
      top: 12px;
    }
  }
}

.btn-toggle--toggled {
  .hamburger__line:nth-child(1) {
    top: 6px;
    width: 0;
    left: 50%;
  }

  .hamburger__line:nth-child(2) {
    transform: rotate(45deg);
    background-color: $viking;
  }

  .hamburger__line:nth-child(3) {
    transform: rotate(-45deg);
    background-color: $viking;
  }

  .hamburger__line:nth-child(4) {
    top: 6px;
    width: 0;
    left: 50%;
  }
}

.nav-menu {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s max-height;
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: $white;

  @media #{$tablet_land__1024} {
    overflow: visible;
    top: auto;
    position: relative;
    box-shadow: none;
    max-height: 100%;
    transition: none;
    transition-duration: 0s;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    background: transparent;
  }

  .menu--show & {
    max-height: 900px;
    overflow-y: auto;
  }
}

.menu {
  display: flex;
  flex-direction: column;

  @media #{$tablet_land__1024} {
    margin-top: 0;
    flex-direction: row;
    align-items: center;
  }

  &__link {
    display: block;
    padding: rem(20px);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: rem(18px);
    color: $mine-shaft;
    position: relative;

    @media #{$tablet_land__1024} {
      font-size: rem(16px);
    }

    @media #{$desktop__1280} {
      font-size: rem(18px);
    }

    @media #{$large__screens__1440} {
      font-size: rem(20px);
    }

    @media #{$HD__screens__1920} {
      padding: rem(0 67px 0 0);

      &--5 {
        padding: 0;
      }
    }

    &.active {
      color: $viking;
    }
  }
}

.face-hield {

  &__pro {
    position: absolute;
    width: 35%;
    // top: 90px;
    // left: 10px;
    top: 28.125vw;
    left: 3.125%;

    @media #{$mobile_land__640} {
      // top: 85px;
      // left: 40px;
      top: 13.281vw;
      left: 6.25%;
    }

    @media #{$tablet__768} {
      width: 30%;
      // top: 90px;
      // left: 60px;
      top: 11.719vw;
      left:	7.8125%;
    }

    @media #{$tablet_land__1024} {
      width: 20%;
      // top: 180px;
      top: 17.578vw;
    }

    @media #{$desktop__1280} {
      width: 18%;
      // top: 226px;
      // left: 108px;
      top: 17.656vw;
      left: 8.4375%;
    }

    @media #{$large__screens__1440} {
      width: 15%;
      // top: 255px;
      // left: 170px;
      top: 17.708vw;
      left: 11.805555555555555%;
    }

    @media #{$full__screens__1600} {
      width: 13%;
      // top: 283px;
      // left: 222px;
      top: 17.688vw;
      left: 13.875%;
    }

    @media #{$HD__screens__1920} {
      width: 10%;
      // top: 342px;
      // left: 312px;
      top: 17.813vw;
      left: 16.25%;
    }

    @media #{$max__screen__2560} {
      // top: 455px;
      // left: 428px;
      top: 17.773vw;
      left: 16.71875%;
    }
  }

  &__light {
    position: absolute;
    width: 35%;
    // top: 123px;
    // right: 10px;
    top: 38.438vw;
    right: 3.125%;

    @media #{$mobile_land__640} {
      // top: 132px;
      // right: 40px;
      top: 20.625vw;
      right: 6.25%;
    }

    @media #{$tablet__768} {
      width: 30%;
      // top: 155px;
      // right: 60px;
      top: 20.182vw;
      right: 7.8125%;
    }

    @media #{$tablet_land__1024} {
      width: 20%;
      // top: 379px;
      // right: 30px;
      top: 37.012vw;
      right: 2.9296875%;
    }

    @media #{$desktop__1280} {
      width: 18%;
      // top: 477px;
      // right: 55px;
      top: 37.266vw;
      right: 4.296875%;
    }

    @media #{$large__screens__1440} {
      width: 15%;
      // top: 538px;
      // right: 105px;
      top: 37.361vw;
      right: 7.291666666666667%;
    }

    @media #{$full__screens__1600} {
      width: 13%;
      // top: 600px;
      // right: 155px;
      top: 37.500vw;
      right: 9.6875%;
    }

    @media #{$HD__screens__1920} {
      width: 10%;
      // top: 720px;
      // right: 240px;
      top: 37.500vw;
      right: 12.5%;
    }

    @media #{$max__screen__2560} {
      // top: 950px;
      // right: 334px;
      top: 37.109vw;
      right: 13.046875%;
    }
  }

  &__border {
    border-top: 1px solid $pacific-blue;

    &--1 {
      padding: rem(10px 10px 10px 0);
      border-right: 1px solid $pacific-blue;

      @media #{$mobile_land__640} {
        padding: rem(15px 15px 15px 0);
      }

      @media #{$tablet__768} {
        padding: rem(18px 18px 18px 0);
      }

      @media #{$desktop__1280} {
        padding: rem(20px 20px 20px 0);
      }

      @media #{$large__screens__1440} {
        padding: rem(24px 24px 24px 0);
      }

      @media #{$HD__screens__1920} {
        padding: rem(28px 28px 28px 0);
      }
    }

    &--2 {
      padding: rem(10px 0 10px 10px);
      border-left: 1px solid $pacific-blue;

      @media #{$mobile_land__640} {
        padding: rem(15px 0 15px 15px);
      }

      @media #{$tablet__768} {
        padding: rem(18px 0 18px 18px);
      }

      @media #{$desktop__1280} {
        padding: rem(20px 0 20px 20px);
      }

      @media #{$large__screens__1440} {
        padding: rem(24px 0 24px 24px);
      }

      @media #{$HD__screens__1920} {
        padding: rem(28px 0 28px 28px);
      }
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    color: $tundora;
    font-family: $font-second;
    font-size: rem(14px);
    padding: rem(0 20px);

    @media #{$mobile_land__640} {
      font-size: rem(18px);
      padding: rem(0 40px);
    }

    @media #{$tablet__768} {
      font-size: rem(20px);
      padding: rem(0 60px);
    }

    @media #{$tablet_land__1024} {
      font-size: rem(21px);
      padding: 0;
    }

    @media #{$desktop__1280} {
      font-size: rem(22px);
    }

    @media #{$large__screens__1440} {
      font-size: rem(23px);
    }

    @media #{$full__screens__1600} {
      font-size: rem(24px);
    }

    @media #{$HD__screens__1920} {
      position: absolute;
      bottom: 0;
      font-size: rem(25px);
    }

    &-text {
      white-space: pre-line;

      &--uppercase {
        text-transform: uppercase;
        display: inline-block;
        padding-bottom: rem(10px);

        @media #{$mobile_land__640} {
          padding-bottom: rem(16px);
        }

        @media #{$tablet__768} {
          padding-bottom: rem(20px);
        }

        @media #{$tablet_land__1024} {
          padding-bottom: rem(22px);
        }

        @media #{$desktop__1280} {
          padding-bottom: rem(24px);
        }

        @media #{$large__screens__1440} {
          padding-bottom: rem(28px);
        }

        @media #{$full__screens__1600} {
          padding-bottom: rem(32px);
        }

        @media #{$HD__screens__1920} {
          padding-bottom: rem(42px);
        }
      }

      &--color {
        display: inline-block;
        padding: rem(15px 0 20px);
        color: $pacific-blue;

        @media #{$mobile_land__640} {
          padding: rem(20px 0 30px);
        }

        @media #{$tablet_land__1024} {
          padding: rem(25px 0 35px);
        }

        @media #{$desktop__1280} {
          padding: rem(27px 0 40px);
        }

        @media #{$large__screens__1440} {
          padding: rem(29px 0 45px);
        }

        @media #{$full__screens__1600} {
          padding: rem(34px 0 51px);
        }

        @media #{$HD__screens__1920} {
          padding: rem(36px 0 56px);
        }
      }
    }
  }
}

/* ----- END OF HEADER ----- */

@media #{$mobile_land__640} {
}
@media #{$tablet__768} {
}
@media #{$tablet_land__1024} {
}
@media #{$desktop__1280} {
}
@media #{$large__screens__1440} {
}
@media #{$full__screens__1600} {
}
@media #{$HD__screens__1920} {
}
@media #{$max__screen__2560} {
}