/* ---------------------------------------------------- */
/* ----- MAIN ----- */
/* ---------------------------------------------------- */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__first {
    position: relative;
    background: url("../images/main__first-bg.png");
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: calc(1270 / 1920 * 100%);

    @media #{$max__screen__2560} {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }

    &-content {
      position: absolute;
      left: 15%;
      transform: translateX(-15%);
      bottom: 212px;
      text-align: right;
      padding-bottom: 24px;
      padding-right: 50px;
      border-bottom: 1px solid $shakespeare;
      border-right :1px solid $shakespeare;
      font-size: 30px;
    }

    &-title {
      color: $shakespeare;
      text-transform: uppercase;
    }

    &-text {
      white-space: pre-line;
    }
  }

  &__second {
    position: relative;
    background: url("../images/main__second-bg.png");
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: calc(777 / 1920 * 100%);

    @media #{$max__screen__2560} {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }

    &-title {
      color: $white;
      font-size: 50px;
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 147px;
    }
  }

  &__third {
    position: relative;
    background: url("../images/main__third-bg.png");
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: calc(850 / 1920 * 100%);

    @media #{$max__screen__2560} {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }

    &-content {
      position: absolute;
      left: 76%;
      transform: translateX(-76%);
      bottom: 109px;
      padding: 0 0 35px 62px;
      border-left: 1px solid $shakespeare;
      border-bottom: 1px solid $shakespeare;
      font-size: 30px;
    }
    
    &-title {
      color: $shakespeare;
      text-transform: uppercase;
      padding-bottom: 56px;
    }
  }

  &__fourth {
    display: flex;
    width: 100%;

    @media #{$max__screen__2560} {
      position: relative;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }

    &-graphics {
      width: 46.25%;
    }

    &-content {
      display: flex;
      flex-direction: column;
      width: 53.75%;
      padding: 110px 0 0 134px;
    }

    &-text {
      font-size: 30px;
      color: $scorpion;
      white-space: pre-line;
      padding-bottom: 100px;
    }

    &-list {
      display: block;
      padding-left: 35px;
      border-left: 1px solid $shakespeare;
      margin-left: 25px;
      position: relative;

      &::before {
        content: 'Zalety';
        display: block;
        position: absolute;
        left: -30px;
        top: -50px;
        color: $shakespeare;
        font-size: 30px;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -223px;
        width: 223px;
        height: 1px;
        background-color: $shakespeare;
      }
    }

    &-item {
      font-size: 20px;
      color: $dove-gray;
    }
  }

  &__fifth {
    position: relative;
    background: url("../images/main__fifth-bg.jpg");
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: calc(1015 / 1920 * 100%);

    @media #{$max__screen__2560} {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }

    &-content {
      position: absolute;
      top: 13.177vw;
      left: 12.083333333333333%;
      transform: translateX(-10%);
      padding-top: 30px;
      padding-right: 40px;
      border-top: 1px solid $shakespeare;
      border-right: 1px solid $shakespeare;
      text-align: right;
    }

    &-text {
      color: $shakespeare;
      font-size: 30px;
      text-transform: uppercase;
      white-space: pre-line;
      display: block;
    }
  }

  &__sixth {
    position: relative;
    background: url("../images/main__sixth-bg.jpg");
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: calc(1080 / 1920 * 100%);

    @media #{$max__screen__2560} {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }

    &-content {
      position: absolute;
      border-top: 1px solid $white;

      &--1 {
        top: 188px;
        left: 411px;
        padding: 25px 25px 61px 0;
        border-right: 1px solid $white;
        text-align: right;
      }

      &--2 {
        left: 953px;
        top: 143px;
        padding: 29px 0 66px 29px;
        border-left: 1px solid $white;
      }

      &--3 {
        top: 266px;
        right: 368px;
        padding: 29px 0 42px 29px;
        border-left: 1px solid $white;
      }

      &--4 {
        top: 506px;
        left: 466px;
        text-align: right;
        padding: 25px 25px 32px 0;
        border-right: 1px solid $white;
      }
    }

    &-text {
      color: $white;
      text-transform: uppercase;
      white-space: pre-line;
    }
  }

  &__seventh {
    background: $sherpa-blue;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media #{$max__screen__2560} {
      position: relative;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }

    &-title {
      margin: 0 auto;
      padding: 85px 0;
    }

    &-content {
      display: flex;
      padding: 0 133px;

      &__box {
        border: 3px solid $white;
        width: calc(100% / 3);
        margin-right: 156px;

        &--3 {
          margin-right: 0;
        }
      }
    }
  }
}


@media #{$tablet__768} {
}
@media #{$tablet_land__1024} {
}
@media #{$desktop__1280} {
}
@media #{$large__screens__1440} {
}
@media #{$full__screens__1600} {
}
@media #{$HD__screens__1920} {
}
@media #{$max__screen__2560} {
}