/* ---------------------------------------------------- */
/* ----- MAIN ----- */
/* ---------------------------------------------------- */

.main {
  &__first {
    position: relative;
    min-height: 1270px;

    &::before {
      content: '';
      background: url("../images/main__first-bg.png");
      background-size: cover;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: 0;
      padding-bottom: calc(1270 / 1920 * 100%);
    }

    &-content {
      position: absolute;
      left: 15%;
      transform: translateX(-15%);
      bottom: 212px;
      text-align: right;
      padding-bottom: 24px;
      padding-right: 50px;
      border-bottom: 1px solid $shakespeare;
      border-right :1px solid $shakespeare;
      font-size: 30px;
    }

    &-title {
      color: $shakespeare;
      text-transform: uppercase;
    }

    &-text {
      white-space: pre-line;
    }
  }

  &__second {
    position: relative;
    min-height: 777px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &::before {
      content: '';
      background: url("../images/main__second-bg.png");
      background-size: cover;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: 0;
      padding-bottom: calc(777 / 1920 * 100%);
    }

    &-title {
      color: $white;
      font-size: 50px;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 147px;
    }
  }

  &__third {
    position: relative;
    min-height: 850px;

    &::before {
      content: '';
      background: url("../images/main__third-bg.png");
      background-size: cover;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: 0;
      padding-bottom: calc(850 / 1920 * 100%);
    }

    &-content {
      position: absolute;
      right: 10px;
      bottom: 0;
    }

    &-title {
      color: $shakespeare;
      text-transform: uppercase;
    }
  }
}


@media #{$tablet__768} {
}
@media #{$tablet_land__1024} {
}
@media #{$desktop__1280} {
}
@media #{$large__screens__1440} {
}
@media #{$full__screens__1600} {
}
@media #{$HD__screens__1920} {
}
