/* ---------------------------------------------------- */
/* ----- MAIN ----- */
/* ---------------------------------------------------- */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__first {
    position: relative;
    background-image: url("../images/main__first-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: calc(1270 / 1920 * 100%);

    @media #{$max__screen__2560} {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      padding-bottom: calc(1690 / 1920 * 100%);
    }

    &-content {
      position: absolute;
      left: 20px;
      bottom: 10px;
      text-align: right;
      padding: rem(10px 10px 10px 0);
      border-bottom: 1px solid $shakespeare;
      border-right: 1px solid $shakespeare;
      font-size: rem(12px);

      @media #{$mobile_land__640} {
        left: 40px;
        bottom: 30px;
        padding: rem(15px 15px 15px 0);
        font-size: 16px;
      }

      @media #{$tablet__768} {
        padding: rem(18px 18px 18px 0);
        bottom: 50px;
        font-size: rem(20px);
      }

      @media #{$tablet_land__1024} {
        font-size: rem(22px);
      }

      @media #{$desktop__1280} {
        left: 60px;
        bottom: 80px;
        font-size: rem(24px);
        padding: rem(20px 20px 20px 0);
      }

      @media #{$large__screens__1440} {
        font-size: rem(26px);
        left: 80px;
        bottom: 100px;
        padding: rem(24px 24px 24px 0);
      }

      @media #{$full__screens__1600} {
        font-size: rem(28px);
        left: 100px;
        bottom: 120px;
      }

      @media #{$HD__screens__1920} {
        left: 130px;
        bottom: 212px;
        padding: rem(50px 50px 24px 0);
        font-size: rem(30px);
      }

      @media #{$max__screen__2560} {
        left: 400px;
        bottom: 300px;
      }
    }

    &-title {
      color: $shakespeare;
      text-transform: uppercase;
      padding-bottom: rem(5px);

      @media #{$mobile_land__640} {
        padding-bottom: rem(10px);
      }

      @media #{$tablet__768} {
        padding-bottom: rem(15px);
      }

      @media #{$tablet_land__1024} {
        padding-bottom: rem(20px);
      }

      @media #{$desktop__1280} {
        padding-bottom: rem(22px);
      }

      @media #{$HD__screens__1920} {
        padding-bottom: rem(62px);
      }
    }

    &-text {
      white-space: pre-line;

      &--mobile {

        @media #{$tablet_land__1024} {
          display: none;
        }
      }

      &--desktop {
        display: none;

        @media #{$tablet_land__1024} {
          display: block;
          padding-top: 0;
        }
      }
    }
  }

  &__second {
    position: relative;
    background-image: url("../images/main__second-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: calc(777 / 1920 * 100%);

    @media #{$max__screen__2560} {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      padding-bottom: calc(1035 / 1920 * 100%);
    }

    &-title {
      color: $white;
      font-size: rem(20px);
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 12px;
      width: 100%;
      text-shadow: 5px 5px 10px $black;

      @media #{$mobile_land__640} {
        font-size: rem(30px);
        bottom: 34px;
      }

      @media #{$tablet__768} {
        bottom: 45px;
      }

      @media #{$tablet_land__1024} {
        font-size: rem(35px);
        bottom: 60px;
      }

      @media #{$desktop__1280} {
        bottom: 80px;
      }

      @media #{$large__screens__1440} {
        font-size: rem(40px);
        bottom: 90px;
      }
      @media #{$full__screens__1600} {
        bottom: 106px;
      }

      @media #{$HD__screens__1920} {
        font-size: 50px;
        bottom: 147px;
      }

      @media #{$max__screen__2560} {
        bottom: 185px;
      }
    }
  }

  &__third {
    position: relative;
    background-image: url("../images/main__third-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: calc(850 / 1920 * 100%);

    @media #{$max__screen__2560} {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      padding-bottom: calc(1130 / 1920 * 100%);
    }

    &-content {
      position: absolute;
      right: 5px;
      bottom: 15px;
      padding: rem(10px 0 10px 10px);
      border-left: 1px solid $shakespeare;
      border-bottom: 1px solid $shakespeare;
      font-size: rem(12px);

      @media #{$mobile_land__640} {
        right: 60px;
        bottom: 45px;
        padding: rem(15px 0 15px 15px);
        font-size: rem(16px);
      }

      @media #{$tablet__768} {
        right: 80px;
        bottom: 55px;
        padding: rem(18px 0 18px 18px);
        font-size: rem(20px);
      }

      @media #{$tablet_land__1024} {
        right: 40px;
        font-size: rem(22px);
        width: 37%;
      }

      @media #{$desktop__1280} {
        right: 50px;
        bottom: 80px;
        font-size: rem(24px);
        padding: rem(20px 0 20px 20px);
        width: auto;
      }

      @media #{$large__screens__1440} {
        right: 70px;
        bottom: 90px;
        font-size: rem(26px);
        padding: rem(24px 0 24px 24px);
      }

      @media #{$full__screens__1600} {
        right: 100px;
        bottom: 100px;
        font-size: rem(28px);
      }

      @media #{$HD__screens__1920} {
        right: 160px;
        bottom: 109px;
        padding: rem(0 0 35px 62px);
        border-left: 1px solid $shakespeare;
        border-bottom: 1px solid $shakespeare;
        font-size: rem(30px);
      }

      @media #{$max__screen__2560} {
        right: 420px;
        bottom: 209px;
      }
    }

    &-title {
      color: $shakespeare;
      text-transform: uppercase;
      padding-bottom: rem(10px);

      @media #{$mobile_land__640} {
        padding-bottom: rem(10px);
      }

      @media #{$tablet__768} {
        padding-bottom: rem(15px);
      }

      @media #{$tablet_land__1024} {
        padding-bottom: rem(20px);
      }

      @media #{$desktop__1280} {
        padding-bottom: rem(22px);
      }

      @media #{$HD__screens__1920} {
        padding-bottom: rem(56px);
      }
    }
  }

  &__fourth {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media #{$tablet__768} {
      flex-direction: row;
      align-items: center;
    }

    @media #{$max__screen__2560} {
      position: relative;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }

    &-graphics {
      width: calc(100% - 40px);
      margin: rem(20px auto);

      @media #{$mobile_land__640} {
        width: calc(100% - 80px);
        margin: rem(40px auto);
      }

      @media #{$tablet__768} {
        width: 50%;
        margin: 0;
      }

      @media #{$HD__screens__1920} {
        width: 46.25%;
      }

      @media #{$max__screen__2560} {
        width: 50%;
      }
    }

    &-img {
      @media #{$max__screen__2560} {
        width: 100%;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: rem(0 20px 20px);

      @media #{$mobile_land__640} {
        padding: rem(0 40px 20px);
      }

      @media #{$tablet__768} {
        width: 50%;
        padding: rem(20px 60px 20px 30px);
      }

      @media #{$tablet_land__1024} {
        padding: rem(40px 40px 20px 40px);
      }

      @media #{$desktop__1280} {
        padding: rem(0 50px);
      }

      @media #{$HD__screens__1920} {
        width: 53.75%;
        padding: rem(110px 0 0 134px);
      }

      @media #{$max__screen__2560} {
        width: 50%;
      }
    }

    &-text {
      font-size: rem(14px);
      color: $scorpion;

      @media #{$mobile_land__640} {
        font-size: rem(16px);
      }

      @media #{$tablet__768} {
        font-size: rem(20px);
      }

      @media #{$tablet_land__1024} {
        font-size: rem(22px);
      }

      @media #{$desktop__1280} {
        font-size: rem(24px);
      }

      @media #{$large__screens__1440} {
        font-size: rem(26px);
      }

      @media #{$full__screens__1600} {
        font-size: rem(28px);
      }

      @media #{$HD__screens__1920} {
        white-space: pre-line;
        font-size: rem(30px);
      }
    }

    &-list {
      display: block;
      padding-left: rem(15px);
      border-left: 1px solid $shakespeare;
      margin-top: rem(35px);
      margin-left: rem(20px);
      position: relative;

      @media #{$mobile_land__640} {
        margin-top: rem(45px);
      }

      @media #{$tablet_land__1024} {
        margin-top: rem(55px);
        padding-left: rem(20px);
        margin-left: rem(25px);
      }

      @media #{$desktop__1280} {
        margin-top: rem(65px);
        padding-left: rem(25px);
        margin-left: rem(30px);
      }

      @media #{$large__screens__1440} {
        margin-top: rem(70px);
        padding-left: rem(30px);
      }

      @media #{$HD__screens__1920} {
        padding-left: rem(35px);
        margin-left: rem(25px);
      }

      &::before {
        content: 'Zalety';
        display: block;
        position: absolute;
        left: -20px;
        top: -25px;
        color: $shakespeare;
        font-size: rem(16px);

        @media #{$mobile_land__640} {
          font-size: rem(18px);
          top: -30px;
        }

        @media #{$tablet__768} {
          font-size: rem(20px);
        }

        @media #{$tablet_land__1024} {
          font-size: rem(22px);
          top: -35px;
        }

        @media #{$desktop__1280} {
          font-size: rem(24px);
          top: -40px;
          left: -30px;
        }

        @media #{$large__screens__1440} {
          top: -45px;
        }

        @media #{$large__screens__1440} {
          font-size: rem(26px);
        }

        @media #{$full__screens__1600} {
          font-size: rem(28px);
        }

        @media #{$HD__screens__1920} {
          font-size: rem(30px);
          top: -50px;
          left: -30px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 220px;
        height: 1px;
        background-color: $shakespeare;

        @media #{$tablet__768} {
          left: -223px;
          width: 223px;
        }

        @media #{$tablet_land__1024} {
          left: -140px;
          width: 140px;
        }

        @media #{$HD__screens__1920} {
          left: -223px;
          width: 223px;
        }
      }
    }

    &-item {
      font-size: rem(14px);
      color: $dove-gray;

      @media #{$mobile_land__640} {
        font-size: rem(16px);
      }

      @media #{$tablet__768} {
        font-size: rem(18px);
      }

      @media #{$tablet_land__1024} {
        font-size: rem(20px);
      }

      @media #{$desktop__1280} {
        font-size: rem(22px);
      }

      @media #{$large__screens__1440} {
        font-size: rem(24px);
      }


      &:last-child {
        padding-bottom: rem(5px);

        @media #{$tablet__768} {
          padding-bottom: 0;
        }
      }

      @media #{$HD__screens__1920} {
        font-size: rem(20px);
      }
    }
  }

  &__fifth {
    position: relative;
    background-image: url("../images/main__fifth-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: calc(1015 / 1920 * 100%);

    @media #{$max__screen__2560} {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      padding-bottom: calc(1335 / 1920 * 100%);
    }

    &-content {
      position: absolute;
      top: 10px;
      left: 20px;
      padding: rem(10px 10px 10px 0);
      border-top: 1px solid $shakespeare;
      border-right: 1px solid $shakespeare;
      text-align: right;

      @media #{$mobile_land__640} {
        top: 100px;
        left: 40px;
        padding: rem(15px 15px 15px 0);
      }

      @media #{$tablet__768} {
        left: 60px;
        padding: rem(18px 18px 18px 0);
      }

      @media #{$tablet_land__1024} {
        left: 70px;
        top: 230px;
      }

      @media #{$desktop__1280} {
        left: 120px;
        top: 300px;
        padding: rem(20px 20px 20px 0);
      }

      @media #{$large__screens__1440} {
        left: 150px;
        top: 340px;
        padding: rem(24px 24px 24px 0);
      }

      @media #{$full__screens__1600} {
        left: 179px;
        top: 390px;
      }

      @media #{$HD__screens__1920} {
        top: 470px;
        left: 270px;
        transform: translateX(-10%);
        padding-top: rem(30px);
        padding-right: rem(40px);
      }

      @media #{$max__screen__2560} {
        top: auto;
        bottom: 500px;
        left: 440px;
      }
    }

    &-text {
      color: $shakespeare;
      font-size: rem(12px);
      text-transform: uppercase;
      white-space: pre-line;
      display: block;

      @media #{$mobile_land__640} {
        font-size: rem(16px);
      }

      @media #{$tablet__768} {
        font-size: rem(20px);
      }

      @media #{$tablet_land__1024} {
        font-size: rem(22px);
      }

      @media #{$desktop__1280} {
        font-size: rem(24px);
      }

      @media #{$large__screens__1440} {
        font-size: rem(26px);
      }

      @media #{$full__screens__1600} {
        font-size: rem(28px);
      }

      @media #{$HD__screens__1920} {
        font-size: rem(30px);
      }
    }
  }

  &__sixth {
    position: relative;
    background-image: url("../images/main__sixth-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: calc(1080 / 1920 * 100%);

    @media #{$max__screen__2560} {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      padding-bottom: calc(1440 / 1920 * 100%);
    }

    &-content {
      position: absolute;
      border-top: 1px solid $white;

      &--1 {
        top: 4px;
        left: 30px;
        padding: rem(10px 10px 0 0);
        border-right: 1px solid $white;
        text-align: right;

        @media #{$mobile_land__640} {
          top: 30px;
          left: 40px;
          padding: rem(15px 15px 15px 0);
        }

        @media #{$tablet__768} {
          left: 60px;
          padding: rem(18px 18px 18px 0);
        }

        @media #{$tablet_land__1024} {
          top: 70px;
          left: 45px;
          white-space: pre-line;
          padding: rem(0 18px 18px 0);
        }

        @media #{$desktop__1280} {
          top: 110px;
          left: 100px;
          padding: rem(0 20px 20px 0);
        }

        @media #{$large__screens__1440} {
          padding: rem(0 24px 24px 0);
        }

        @media #{$full__screens__1600} {
          top: 149px;
          left: 160px;
        }

        @media #{$HD__screens__1920} {
          top: 165px;
          left: 257px;
          border-right: 1px solid $white;
          text-align: right;
        }

        @media #{$max__screen__2560} {
          top: 260px;
          left: 455px;
        }
      }

      &--2 {
        top: 5px;
        right: 65px;
        padding: rem(10px 0 0 10px);
        border-left: 1px solid $white;

        @media #{$mobile_land__640} {
          top: 40px;
          right: 95px;
          padding: rem(15px 0 15px 15px);
        }

        @media #{$tablet__768} {
          top: 50px;
          right: 102px;
          padding: rem(18px 0 18px 18px);
        }

        @media #{$tablet_land__1024} {
          top: 80px;
          right: 202px;
        }

        @media #{$desktop__1280} {
          top: 115px;
          right: 302px;
          padding: rem(20px 0 20px 20px);
        }

        @media #{$large__screens__1440} {
          top: 125px;
          right: 355px;
          padding: rem(24px 0 24px 24px);
        }

        @media #{$full__screens__1600} {
          top: 145px;
          right: 405px;
        }

        @media #{$HD__screens__1920} {
          top: 160px;
          right: 535px;
          padding: rem(29px 0 42px 29px);
        }

        @media #{$max__screen__2560} {
          top: 240px;
          right: 868px;
        }
      }

      &--3 {
        top: 55px;
        right: 10px;
        padding: rem(10px 0 0 10px);
        border-left: 1px solid $white;

        @media #{$mobile_land__640} {
          top: 80px;
          right: 25px;
          padding: rem(15px 0 0 15px);
        }

        @media #{$tablet__768} {
          top: 97px;
          right: 24px;
          padding: rem(18px 0 0 18px);
        }

        @media #{$tablet_land__1024} {
          top: 135px;
          right: 90px;
        }

        @media #{$desktop__1280} {
          top: 180px;
          right: 45px;
          padding: rem(20px 0 20px 20px);
        }

        @media #{$large__screens__1440} {
          top: 205px;
          right: 60px;
          padding: rem(24px 0 24px 24px);
        }

        @media #{$full__screens__1600} {
          top: 235px;
          right: 75px;
        }

        @media #{$HD__screens__1920} {
          top: 255px;
          right: 178px;
          padding: rem(29px 0 42px 29px);
        }

        @media #{$max__screen__2560} {
          top: 400px;
          right: 340px;
        }
      }

      &--4 {
        bottom: 3px;
        left: 38px;
        text-align: right;
        padding: rem(0 10px 10px 0);
        border-top: 0;
        border-bottom: 1px solid $white;
        border-right: 1px solid $white;

        @media #{$mobile_land__640} {
          bottom: 50px;
          left: 75px;
          padding: rem(15px 15px 15px 0);
        }

        @media #{$tablet__768} {
          bottom: 70px;
          left: 88px;
          padding: rem(18px 18px 18px 0);
        }

        @media #{$tablet_land__1024} {
          bottom: 115px;
          left: 150px;
        }

        @media #{$desktop__1280} {
          bottom: 160px;
          left: 210px;
          padding: rem(20px 20px 20px 0);
        }

        @media #{$large__screens__1440} {
          bottom: 180px;
          left: 240px;
          padding: rem(24px 24px 24px 0);
        }

        @media #{$full__screens__1600} {
          bottom: 208px;
          left: 275px;
        }

        @media #{$HD__screens__1920} {
          bottom: 270px;
          left: 365px;
        }

        @media #{$max__screen__2560} {
          bottom: 370px;
          left: 570px;
        }
      }
    }

    &-text {
      color: $white;
      text-transform: uppercase;
      font-size: rem(12px);

      @media #{$mobile_land__640} {
        font-size: rem(16px);
      }

      @media #{$tablet__768} {
        font-size: rem(20px);
      }

      @media #{$tablet_land__1024} {
        font-size: rem(22px);
      }

      @media #{$desktop__1280} {
        font-size: rem(24px);
      }

      @media #{$large__screens__1440} {
        font-size: rem(26px);
      }

      @media #{$full__screens__1600} {
        font-size: rem(28px);
      }

      @media #{$HD__screens__1920} {
        white-space: pre-line;
        font-size: rem(30px);
      }
    }
  }

  &__seventh {
    background: $sherpa-blue;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media #{$max__screen__2560} {
      position: relative;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }

    &-title {
      margin: 0 auto;
      padding: rem(40px 0);
      width: 50%;

      @media #{$mobile_land__640} {
        width: 35%;
        padding: rem(50px 0);
      }

      @media #{$tablet_land__1024} {
        width: 30%;
        padding: rem(60px 0);
      }

      @media #{$desktop__1280} {
        width: 25%;
        padding: rem(75px 0);
      }

      @media #{$HD__screens__1920} {
        padding: rem(85px 0);
        width: 23.177083333333334%;
      }
    }

    &-content {
      display: flex;
      flex-wrap: wrap;

      @media #{$tablet_land__1024} {
        flex-wrap: nowrap;
        padding: rem(0 50px 50px);
      }

      @media #{$HD__screens__1920} {
        margin: 0;
        padding: rem(0 133px 96px);
      }

      &__box {
        border: 3px solid $white;
        border-radius: 10px;
        width: calc(100% - 40px);
        margin: rem(0 auto 20px);

        @media #{$mobile_land__640} {
          width: calc(100% - 80px);
          margin: rem(0 auto 40px);
        }

        @media #{$tablet__768} {
          width: calc(100% - 120px);
          margin: rem(0 auto 60px);
        }

        @media #{$tablet_land__1024} {
          width: calc(100% / 3);
          margin: rem(0 30px 0 0);
        }

        @media #{$HD__screens__1920} {
          width: calc(100% / 3);
          margin: rem(0 156px 0 0);
        }

        &--3 {
          @media #{$tablet_land__1024} {
            margin-right: 0;
          }
        }
      }

      &__graphics {
        padding: rem(35px 0);

        &--1 {

          @media #{$tablet_land__1024} {
            padding-top: rem(62px);
          }

          @media #{$desktop__1280} {
            padding-top: rem(68px);
          }

          @media #{$HD__screens__1920} {
            padding-top: rem(67px);
          }
        }
      }

      &__img {
        margin: 0 auto;

        &--1 {
          width: 35%;

          @media #{$mobile_land__640} {
            width: 25%;
          }

          @media #{$tablet_land__1024} {
            width: 35%;
          }

          @media #{$HD__screens__1920} {
            width: auto;
          }
        }

        &--2 {
          width: 55%;

          @media #{$mobile_land__640} {
            width: 45%;
          }

          @media #{$tablet__768} {
            width: 35%;
          }

          @media #{$tablet_land__1024} {
            width: 57%;
          }

          @media #{$HD__screens__1920} {
            width: auto;
          }
        }

        &--3 {
          width: 80%;

          @media #{$mobile_land__640} {
            width: 70%;
          }

          @media #{$tablet__768} {
            width: 50%;
          }

          @media #{$tablet_land__1024} {
            width: 75%;
          }

          @media #{$HD__screens__1920} {
            width: auto;
          }
        }
      }

      &__description {
        text-align: center;
        color: $white;
        white-space: pre-line;
        text-transform: uppercase;
        font-size: rem(20px);
        padding-top: rem(30px);

        @media #{$mobile_land__640} {
          font-size: rem(25px);
        }

        @media #{$tablet__768} {
          font-size: rem(30px);
        }

        @media #{$HD__screens__1920} {
          padding-top: rem(51px);
        }
      }
    }
  }

  &__eighth {
    position: relative;
    background-image: url("../images/main__eighth-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: calc(1280 / 1920 * 100%);

    @media #{$max__screen__2560} {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      padding-bottom: calc(1730 / 1920 * 100%);
    }

    &-content {
      position: absolute;
      bottom: 55px;
      right: 20px;
      width: 35%;

      @media #{$mobile_land__640} {
        bottom: 100px;
        right: 40px;
      }

      @media #{$tablet__768} {
        bottom: 130px;
        right: 60px;
      }

      @media #{$tablet_land__1024} {
        bottom: 165px;
        right: 78px;
      }

      @media #{$desktop__1280} {
        width: 25%;
        bottom: 209px;
        right: 230px;
      }

      @media #{$large__screens__1440} {
        width: 27%;
        bottom: 235px;
        right: 240px;
      }

      @media #{$full__screens__1600} {
        bottom: 265px;
        right: 260px;
      }

      @media #{$HD__screens__1920} {
        bottom: 384px;
        right: 453px;
        width: 21.770833333333334%;
      }

      &__border {
        padding: rem(10px 0 10px 10px);
        border-top: 1px solid $pacific-blue;
        border-left: 1px solid $pacific-blue;

        @media #{$mobile_land__640} {
          padding: rem(15px 0 15px 15px);
        }

        @media #{$tablet__768} {
          padding: rem(18px 0 18px 18px);
        }

        @media #{$desktop__1280} {
          padding: rem(20px 0 20px 20px);
        }

        @media #{$large__screens__1440} {
          padding: rem(24px 0 24px 24px);
        }

        @media #{$HD__screens__1920} {
          padding: rem(39px 0 68px 48px);
        }
      }
    }
  }

  &__ninth {
    position: relative;
    background-image: url("../images/main__ninth-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: calc(1300 / 1920 * 100%);

    @media #{$max__screen__2560} {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      padding-bottom: calc(1730 / 1920 * 100%);
    }

    &-content {
      position: absolute;

      &--1 {
        top: 15px;
        right: 20px;
        padding: rem(10px 0 10px 10px);
        border-top: 1px solid $pacific-blue;
        border-left: 1px solid $pacific-blue;

        @media #{$mobile_land__640} {
          top: 15px;
          right: 40px;
          padding: rem(15px 0 15px 15px);
        }

        @media #{$tablet__768} {
          padding: rem(18px 0 18px 18px);
        }

        @media #{$tablet_land__1024} {
          top: 90px;
          right: 50px;
        }

        @media #{$desktop__1280} {
          top: 140px;
          right: 100px;
          padding: rem(20px 0 20px 20px);
        }

        @media #{$large__screens__1440} {
          top: 155px;
          right: 110px;
          padding: rem(24px 0 24px 24px);
        }

        @media #{$full__screens__1600} {
          top: 160px;
          right: 150px;
        }

        @media #{$HD__screens__1920} {
          top: 195px;
          right: 130px;
          padding: rem(30px 0 60px 30px);
        }

        @media #{$max__screen__2560} {
          top: 300px;
          right: 300px;
        }
      }

      &--2 {
        position: absolute;
        top: 25px;
        left: 20px;
        padding: rem(10px 10px 10px 0);
        border-top: 1px solid $zambezi;
        border-right: 1px solid $zambezi;

        @media #{$mobile_land__640} {
          top: 100px;
          left: 60px;
          padding: rem(15px 15px 15px 0);
        }

        @media #{$tablet__768} {
          top: 120px;
          padding: rem(18px 18px 18px 0);
        }

        @media #{$tablet_land__1024} {
          top: 180px;
          left: 115px;
        }

        @media #{$desktop__1280} {
          top: 228px;
          left: 220px;
          padding: rem(20px 20px 20px 0);
        }

        @media #{$large__screens__1440} {
          top: 259px;
          left: 240px;
          padding: rem(24px 24px 24px 0);
        }

        @media #{$full__screens__1600} {
          top: 295px;
          left: 280px;
        }

        @media #{$HD__screens__1920} {
          top: 255px;
          left: 500px;
          padding: rem(30px 30px 60px 0);
        }

        @media #{$max__screen__2560} {
          top: 470px;
          left: 600px;
        }
      }

      &--3 {
        left: 20px;
        bottom: 10px;
        padding: rem(10px 10px 10px 0);
        border-right: 1px solid $pacific-blue;
        border-bottom: 1px solid $pacific-blue;

        @media #{$mobile_land__640} {
          left: 40px;
          bottom: 35px;
          padding: rem(15px 15px 15px 0);
        }

        @media #{$tablet__768} {
          left: 40px;
          bottom: 45px;
          padding: rem(18px 18px 18px 0);
        }

        @media #{$tablet_land__1024} {
          left: 65px;
          bottom: 100px;
        }

        @media #{$desktop__1280} {
          left: 115px;
          bottom: 160px;
          padding: rem(20px 20px 20px 0);
        }

        @media #{$large__screens__1440} {
          padding: rem(24px 24px 24px 0);
        }

        @media #{$full__screens__1600} {
          left: 140px;
          bottom: 175px;
        }

        @media #{$HD__screens__1920} {
          left: 290px;
          bottom: 163px;
          padding: rem(60px 30px 30px 0);
        }

        @media #{$max__screen__2560} {
          left: 495px;
          bottom: 300px;
        }
      }
    }

    &-text {
      display: inline-block;
      text-transform: uppercase;
      white-space: pre-line;
      color: $shakespeare;
      font-size: rem(12px);

      @media #{$mobile_land__640} {
        font-size: rem(16px);
      }

      @media #{$tablet__768} {
        font-size: rem(20px);
      }

      @media #{$tablet_land__1024} {
        font-size: rem(22px);
      }

      @media #{$desktop__1280} {
        font-size: rem(24px);
      }

      @media #{$large__screens__1440} {
        font-size: rem(26px);
      }

      @media #{$full__screens__1600} {
        font-size: rem(28px);
      }

      @media #{$HD__screens__1920} {
        font-size: rem(30px);
        white-space: normal;
      }

      &--2 {
        color: $zambezi;
        text-align: right;

        @media #{$mobile_land__640} {
          white-space: normal;
        }
      }
    }
  }

  &__tenth {
    background: $blue-chill;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media #{$max__screen__2560} {
      position: relative;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }

    &-title {
      margin: 0 auto;
      padding: rem(40px 0);
      width: 50%;

      @media #{$mobile_land__640} {
        width: 35%;
        padding: rem(50px 0);
      }

      @media #{$tablet_land__1024} {
        width: 30%;
        padding: rem(60px 0);
      }

      @media #{$desktop__1280} {
        width: 25%;
        padding: rem(75px 0);
      }

      @media #{$HD__screens__1920} {
        padding: rem(85px 0);
        width: 23.177083333333334%;
      }
    }

    &-content {
      display: flex;
      flex-wrap: wrap;

      @media #{$tablet_land__1024} {
        flex-wrap: nowrap;
        padding: rem(0 50px 50px);
      }

      @media #{$HD__screens__1920} {
        margin: 0;
        padding: rem(0 133px 96px);
      }

      &__box {
        border: 3px solid $white;
        border-radius: 10px;
        width: calc(100% - 40px);
        margin: rem(0 auto 20px);

        @media #{$mobile_land__640} {
          width: calc(100% - 80px);
          margin: rem(0 auto 40px);
        }

        @media #{$tablet__768} {
          width: calc(100% - 120px);
          margin: rem(0 auto 60px);
        }

        @media #{$tablet_land__1024} {
          width: calc(100% / 3);
          margin: rem(0 30px 0 0);
        }

        @media #{$HD__screens__1920} {
          width: calc(100% / 3);
          margin: rem(0 156px 0 0);
        }

        &--3 {
          @media #{$tablet_land__1024} {
            margin-right: 0;
          }
        }
      }

      &__graphics {
        padding: rem(35px 0);

        &--1 {

          @media #{$tablet_land__1024} {
            padding-top: rem(62px);
          }

          @media #{$desktop__1280} {
            padding-top: rem(68px);
          }

          @media #{$HD__screens__1920} {
            padding-top: rem(67px);
          }
        }
      }

      &__img {
        margin: 0 auto;

        &--1 {
          width: 35%;

          @media #{$mobile_land__640} {
            width: 25%;
          }

          @media #{$tablet_land__1024} {
            width: 35%;
          }

          @media #{$HD__screens__1920} {
            width: auto;
          }
        }

        &--2 {
          width: 55%;

          @media #{$mobile_land__640} {
            width: 45%;
          }

          @media #{$tablet__768} {
            width: 35%;
          }

          @media #{$tablet_land__1024} {
            width: 57%;
          }

          @media #{$HD__screens__1920} {
            width: auto;
          }
        }

        &--3 {
          width: 80%;

          @media #{$mobile_land__640} {
            width: 70%;
          }

          @media #{$tablet__768} {
            width: 50%;
          }

          @media #{$tablet_land__1024} {
            width: 75%;
          }

          @media #{$HD__screens__1920} {
            width: auto;
          }
        }
      }

      &__description {
        text-align: center;
        color: $white;
        white-space: pre-line;
        text-transform: uppercase;
        font-size: rem(20px);
        padding-top: rem(30px);

        @media #{$mobile_land__640} {
          font-size: rem(25px);
        }

        @media #{$tablet__768} {
          font-size: rem(30px);
        }

        @media #{$HD__screens__1920} {
          padding-top: 51px;
        }
      }
    }
  }
}

.rwd-break {
  display: block;

  @media #{$HD__screens__1920} {
    display: none;
  }

  &--2 {
    display: none;

    @media #{$HD__screens__1920} {
      display: block;
    }
  }

  &--4 {
    @media #{$tablet_land__1024} {
      display: none;
    }
  }

  &--5, &--6, &--8 {
    @media #{$mobile_land__640} {
      display: none;
    }
  }

  &--7 {
    @media #{$desktop__1280} {
      display: none;
    }
  }
}

@media #{$mobile_land__640} {
}
@media #{$tablet__768} {
}
@media #{$tablet_land__1024} {
}
@media #{$desktop__1280} {
}
@media #{$large__screens__1440} {
}
@media #{$full__screens__1600} {
}
@media #{$HD__screens__1920} {
}
@media #{$max__screen__2560} {
}