/* ----- HERO ----- */


.parallax {
  background: url("../images/parallax.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 895px;
  width: 100%;

  &__title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 50px;
    text-transform: uppercase;
    color: $white;
    text-shadow: 5px 5px 10px black;
  }
}


/* ----- END OF HERO ----- */

@media #{$mobile_land__640} {
}
@media #{$tablet__768} {
}
@media #{$tablet_land__1024} {
}
@media #{$desktop__1280} {
}
@media #{$large__screens__1440} {
}
@media #{$full__screens__1600} {
}
@media #{$HD__screens__1920} {
}