// ----------------------------------------------------
// ----- MIXINS -----
// ----------------------------------------------------

// --- Clearfix ---
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// ----- End Of Clearfix -----

// --- main__seventh & main__tenth content ---

@mixin shield-box {

  width: 100%;
  display: flex;
  flex-direction: column;

    @media #{$max__screen__2560} {
      position: relative;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }

    &-title {
      margin: 0 auto;
      padding: rem(40px 0);
      width: 50%;

      @media #{$mobile_land__640} {
        width: 35%;
        padding: rem(50px 0);
      }

      @media #{$tablet_land__1024} {
        width: 30%;
        padding: rem(60px 0);
      }

      @media #{$desktop__1280} {
        width: 25%;
        padding: rem(75px 0);
      }

      @media #{$HD__screens__1920} {
        padding: rem(85px 0);
        width: 23.177083333333334%;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      padding-bottom: rem(40px);

      @media #{$mobile_land__640} {
        flex-direction: row;
        padding: rem(0 20px 40px);
      }

      @media #{$tablet_land__1024} {
        padding: rem(0 40px 50px);
      }

      @media #{$desktop__1280} {
        padding: rem(0 50px 60px);
      }

      @media #{$HD__screens__1920} {
        margin: 0;
        padding: rem(0 133px 96px);
      }

      &__box {
        border: 3px solid $white;
        border-radius: 10px;
        width: calc(100% - 80px);
        margin: rem(0 auto 20px);
        cursor: pointer;

        @media #{$mobile_land__640} {
          width: calc(100% / 3);
          margin: rem(0 20px 0 0);
        }

        @media #{$tablet_land__1024} {
          margin: rem(0 30px 0 0);
        }

        @media #{$desktop__1280} {
          margin: rem(0 60px 0 0);
        }

        @media #{$large__screens__1440} {
          margin: rem(0 80px 0 0);
        }

        @media #{$full__screens__1600} {
          margin: rem(0 100px 0 0);
        }

        @media #{$HD__screens__1920} {
          width: calc(100% / 3);
          margin: rem(0 156px 0 0);
        }

        &--3 {
          margin: 0 auto;

          @media #{$tablet_land__1024} {
            margin-right: 0;
          }
        }

        &:hover {
          filter: invert(0) sepia(0.5) saturate(13) hue-rotate(104.4deg) brightness(1.2);
        }
      }

      &__graphics {
        padding: rem(35px 0);

        &--1 {
          padding-top: rem(20px);

          @media #{$mobile_land__640} {
            padding-top: rem(35px);
          }
        }
      }

      &__img {
        margin: 0 auto;
        width: 70%;

        @media #{$desktop__1280} {
          width: 60%;
        }

        @media #{$large__screens__1440} {
          width: 55%;
        }
      }

      &__description {
        text-align: center;
        color: $white;
        white-space: pre-line;
        text-transform: uppercase;
        font-size: rem(20px);
        padding-top: rem(30px);

        @media #{$mobile_land__640} {
          // font-size: rem(25px);
        }

        @media #{$tablet__768} {
          font-size: rem(25px);
        }

        @media #{$HD__screens__1920} {
          padding-top: rem(51px);
        }
      }
    }
}

// --- end of main__seventh & main__tenth content ---

// ----- END OF MIXINS -----
